<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>SkyPix 数传测试</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'w3.css') }}">
    <script src="{{ url_for('static', filename = 'highcharts.js') }}"></script>
    <script src="{{ url_for('static', filename = 'jquery-3.2.0.min.js') }}"></script>
  </head>
  <body>
    <form style="display: flex; justify-content: center; flex-direction: row; margin-top: 10px; margin-bottom: 20px" class="w3-container" action="run_test" method="get" accept-charset="utf-8">
      <div style="flex: 3"></div>
      <input class="w3-input" style="flex:4" type="text" value="" name="title" placeholder="备注"/>
      <button class="w3-button w3-white w3-border w3-border-blue w3-round-large" style="flex:1"  type="submit">发起新测试</button>
      <div style="flex: 3"></div>
    </form>
    {% for test in tests %}
    <div id={{"container-%s"%test['test_id'] }} data-test-id= {{"%s"%test['test_id']}} data-test-title={{"%s"%test['title']}} class="container" style="width:100%; height:300px;">Loading...</div>
    {% endfor %}

    <script src="{{ url_for('static', filename = 'data.js') }}"></script>
  </body>
</html>
